{{define "body"}}
    <script src="/static/js/external/d3/d3.v3.min.js"></script>
    <script src="/static/js/conditions_tree.js"></script>
    <script src="/static/js/app.js"></script>

    <script type="text/javascript">
        var treeData = JSON.parse('{{.TreeJSON}}');
        $(document).ready(function() {
            initTree(treeData);
        });
    </script>

    <table class="main-table">
        <tr>
            <td>
                <form id="addCondition">
                    <div>
                        Field:
                        <select id="field" name="field">
                            <option value="age">Age</option>
                            <option value="pets"># Pets</option>
                        </select>
                    </div>
                    <div>
                        Operator:
                        <select id="operator" name="operator">
                            <option value="eq">=</option>
                            <option value="ne">!=</option>
                            <option value="gt">></option>
                            <option value="lt"><</option>
                        </select>
                    </div>
                    <div>
                        Value: <input id="value" name="value"></input>
                    </div>
                    </div>
                        <input type="submit">
                    </div>
                </form>
            </td>
            <td>
                <h4>Equality Conditions</h4>
                <div>
                    <button id="deleteConditions">Truncate</button>
                    <button id="updateConditions">Save Re-ordering</button>
                </div>
                <ul id="sortable">
                    {{range .Conditions}}
                        {{if eq .Type "equality"}}
                            <li class="ui-state-default equality" data-type='{{.Type}}' data-field='{{.Field}}' data-operator='{{.Operator}}' data-value='{{.Value}}'>{{.Text}}</li>
                        {{end}}

                        {{if eq .Type "logic"}}
                            <li class="ui-state-default logic" data-type='{{.Type}}' data-operator='{{.Operator}}'>{{.Text}}</li>
                        {{end}}

                        {{if eq .Type "scope"}}
                            <li class="ui-state-default scope" data-type='{{.Type}}' data-operator='{{.Operator}}'>{{.Text}}</li>
                        {{end}}
                    {{end}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Three
            </td>
            <td class="d3-tree">
            </td>
        </tr>
    </table>
{{end}}