{{define "body"}}
    <script src="/logictree-static/js/external/d3/d3.v3.min.js"></script>
    <script src="/logictree-static/js/conditions_tree.js"></script>
    <script src="/logictree-static/js/app.js"></script>

    <script type="text/javascript">
        var frontData = JSON.parse('{{.FrontendJSON}}');
        var treeData = frontData['tree'];
        var matchingUsers = frontData['matchingUsers'];
        $(document).ready(function() {
            initTree(treeData);
            rematchUsers(matchingUsers);
        });
    </script>

    <table class="main-table">
        <tr>
            <td>
                <form id="addCondition">
                    <div>
                        Field:
                        <select id="field" name="field">
                            <option value="age">Age</option>
                            <option value="pets"># Pets</option>
                        </select>
                    </div>
                    <div>
                        Operator:
                        <select id="operator" name="operator">
                            <option value="eq">=</option>
                            <option value="ne">!=</option>
                            <option value="gt">></option>
                            <option value="lt"><</option>
                        </select>
                    </div>
                    <div>
                        Value: <input id="value" name="value"></input>
                    </div>
                    </div>
                        <input type="submit">
                    </div>
                </form>
                <button class="resetConditions" data-reset-type="simple">Reset Everything Simple</button>
                <button class="resetConditions" data-reset-type="advanced">Reset Everything Advanced</button>
            </td>
            <td>
                <h4>Conditions (flat)</h4>
                <div>
                    <button id="updateConditions">Save Re-ordering</button>
                </div>
                <ul id="sortable">
                    {{range .Conditions}}
                        {{if eq .Type "equality"}}
                            <li class="ui-state-default equality" data-type='{{.Type}}' data-field='{{.Field}}' data-operator='{{.Operator}}' data-value='{{.Value}}'>{{.Text}}</li>
                        {{end}}

                        {{if eq .Type "logic"}}
                            <li class="ui-state-default logic" data-type='{{.Type}}' data-operator='{{.Operator}}'>{{.Text}}</li>
                        {{end}}

                        {{if eq .Type "scope"}}
                            <li class="ui-state-default scope" data-type='{{.Type}}' data-operator='{{.Operator}}'>{{.Text}}</li>
                        {{end}}
                    {{end}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Conditions (mysql)</h4>
                <table class="condition-sql-rows">
                    <thead>
                        <tr>
                            <th>Text</th>
                            <th>Left</th>
                            <th>Right</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .ConditionSqlRows}}
                            <tr>
                                <td>{{.Field}} {{.Operator}} {{.Value}}</td>
                                <td>{{.Left}}</td>
                                <td>{{.Right}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </td>
            <td>
                <h4>Conditions (tree)</h4>
                <div id="d3-tree">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <h4>Users (mysql)</h4>
                <table class="user-sql-rows">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th># Pets</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .UserSqlRows}}
                            <tr id="{{.Id}}">
                                <td>{{.Name}}</td>
                                <td>{{.Age}}</td>
                                <td>{{.NumPets}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
{{end}}